<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PySyncOCR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <nav class="navbar navbar-expand-lg border-body bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('dashboard.index') }}">PySyncOCR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            href="{{ url_for('dashboard.index') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('sync.index') }}">Sync</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    by Maximilian Krause<br>
                </span>
            </div>
        </div>
    </nav>
    <div style="background: rgb(2,170,189);
    background: linear-gradient(133deg, rgba(2,170,189,1) 0%, rgba(0,205,172,1) 100%);color: white;">
        <div class="container">
            <br>
            {% block content %}
            {% endblock %}
            <br>
        </div>

        <footer class="footer text-light rounded-top p-2" style="background-color: rgba(0, 0, 0, 0.6)">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col">
                        Version 1.0
                    </div>
                    <div class="col-auto">
                        <a href="https://github.com/maxi07" style="color: white; font-size: 1.5rem;"><i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            // Get the current page URL without any parameters
            var currentPage = window.location.href.split('?')[0];
        
            // Remove the active class from all navigation links
            $("#navbarSupportedContent a").removeClass("active");
        
            // Check each navigation link and set the active class accordingly
            $("#navbarSupportedContent a").each(function () {
                var linkHref = $(this).attr("href");
        
                // Check if the current page URL ends with the linkHref
                if (currentPage.endsWith(linkHref)) {
                    $(this).closest("a").addClass("active");
                }
            });
        });        
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
        integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
</body>


</html>