{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/settings.css">
<h1>Settings</h1>
<br><br>
<h2>Automatic file names</h2>
<hr>
<p>
    Using OpenAI, we can add automatic file names to your scanned files. The content of the first page will be submitted
    to OpenAI to generate a file name.
</p>

<form id="openai-form" action="/settings/openai" method="POST" onsubmit="submitOpenAI(event)">
    <div class="input-group">
        <span class="input-group-text" id="addon-wrapping"><i class="bi bi-key"></i></span>
        <input type="password" class="form-control" placeholder="OpenAI Key" aria-label="OpenAI key"
            aria-describedby="addon-wrapping" id="openai_key" name="openai_key" value="{{ dummy_key }}" oninput="checkIfEmpty(this.id, 'save-button')">
    </div>
    <br>
    <button type="submit" class="btn btn-primary animated-button" id="save-button" disabled>Enable</button>
</form>



<script src="/static/js/settings.js"></script>

{% endblock %}