{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/sync.css">
<h1>Sync</h1>
<p>
    Set up or manage your OneDrive connections for syncing.
</p>
<div class="container mt-5">
    <div>
        <h2>OneDrive Accounts <button class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#addonedrivemodal"><i class="bi bi-plus-circle"></i> Add</button></h2>
    </div>
    <p>Manage credentials to different OneDrive accounts.</p>
    {% if onedrive_configs.items() %}
    <table class="table table-striped" id="onedrive-configs-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Connection</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for name, config in onedrive_configs.items() %}
            <tr id="{{ name }}_row">
                <td>{{ name }}</td>
                <td>{{ config.type }}</td>
                <td>{{ config.drive_type }}</td>
                <td><button id="{{ name }}_delete_button" onclick="deleteOneDriveConf('{{ name }}')"
                        class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No connections found.</p>
    {% endif %}
    <br>
    <hr>
    <h2>Path mappings <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pathmappingmodal"
            onclick="getConnections()"><i class="bi bi-plus-circle"></i> Add</button></h2>
    <p>Manage individual sync destinations for SMB folders to OneDrive.</p>
    <div class="row row-cols1 row-cols-md-2 g-4" id="pathmappingscontainer">
        {% if path_mappings %}

        {% for item in path_mappings %}
        <div class="col" id="{{ item.id }}_pathmappingcard">
            <div class="card">
                <div class="card-header">
                    {{ item.id }}
                </div>
                <div class="card-body">
                    <ol class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">SMB</div>
                                <i class="bi bi-folder"></i> {{ item.local }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Remote</div>
                                <i class="bi bi-folder"></i><span id="{{ item.id }}_remote_pathmapping"> {{ item.remote
                                    }}</span>
                                {% if not item.remote_exists %}
                                <div class="alert alert-danger mt-2" role="alert">
                                    <i class="bi bi-exclamation-triangle"></i> <strong>Warning</strong><br>
                                    The connected remote does not exist in the config and will lead to errors when
                                    syncing.
                                </div>
                                {% endif %}
                            </div>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Type</div>
                                {{ item.type }}
                            </div>
                        </li>
                    </ol>
                </div>
                <div class="card-footer">
                    <button id="{{ item.id }}_edit_button" onclick="editPathMapping('{{ item.id }}')"
                        class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#pathmappingmodal"><i
                            class="bi bi-pencil"></i> Edit</button>
                    <button id="{{ item.id }}_delete_button" onclick="deletePathMapping('{{ item.id }}')"
                        class="btn btn-danger"><i class="bi bi-trash"></i> Delete</button>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p id="emptypathmappingsmessage">No path mappings found.</p>
        {% endif %}
    </div>
    <br>
    <hr>
    <h2>Failed sync documents</h2>
    <p>View and delete failed sync documents.</p>
    {% if failed_pdfs %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="d-none d-sm-table-cell">Preview</th>
                    <th>Name</th>
                    <th class="d-none d-sm-table-cell">Remote</th>
                    <th class="d-none d-sm-table-cell">Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for item in failed_pdfs %}
                <tr id="{{ item.id }}_failedpdf_row">
                    <td class="d-none d-sm-table-cell"><img src="{{ item.previewimage_path }}" alt="Preview"
                            class="img-fluid" style="max-width: 200px; height:30px;"></td>
                    <td class="overflow-hidden">{{ item.file_name }}</td>
                    <td class="d-none d-sm-table-cell">{{ item.remote_filepath }}</td>
                    <td class="d-none d-sm-table-cell">{{ item.created }}</td>
                    <td>
                        <button id="{{ item.id }}_download_button" onclick="downloadFailedSync('{{ item.id }}')"
                            class="btn btn-secondary btn-sm"><i class="bi bi-download"></i> Download</button>
                        <button id="{{ item.id }}_delete_button" onclick="deleteFailedSync('{{ item.id }}')"
                            class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <br>
    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_failed_pdfs != 1 %}
            <li class="page-item">
                <a class="page-link" href="?page_failed_pdfs={{ page_failed_pdfs - 1 }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for page_num in range(1, total_pages_failed_pdfs + 1) %}
            <li class="page-item {% if page_num == page_failed_pdfs %}active{% endif %}">
                <a class="page-link" href="?page_failed_pdfs={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endfor %}

            {% if page_failed_pdfs != total_pages_failed_pdfs %}
            <li class="page-item">
                <a class="page-link" href="?page_failed_pdfs={{ page_failed_pdfs + 1 }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <p>No failed syncs found.</p>
    {% endif %}

    <!-- OneDrive Adding modal-->
    <div class="modal fade" id="addonedrivemodal" tabindex="-1" aria-labelledby="addonedriveLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addonedriveLabel">Add OneDrive Account</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="cloud_header">
                        <div id="cloud_lottie" class="d-flex justify-content-center align-items-center">
                            <dotlottie-player id="terminal_lottie_player" src="/static/lottie/cloud.json"
                                background="transparent" speed="1" style="width: 150px; height: 150px;" loop
                                autoplay></dotlottie-player>
                        </div>
                        <div class="text-center">
                            <h5>Setup OneDrive</h5>
                        </div>
                        <p>Setup a new OneDrive connection to sync files with.
                        </p>
                    </div>
                    <div class=" has-validation">
                        <div class="mb-3" id="onedrive_name_container">
                            <label for="onedrive_name" class="col-form-label">Name of new config</label>
                            <input type="text" class="form-control" id="onedrive_name" name="onedrive_name"
                                placeholder="Name">
                            <div id="name_help" class="form-text">This name must be unique for the connection.</div>
                            <br>
                            <label for="onedrive_selector" class="col-form-label">Select OneDrive Account</label><br>
                            <div class="btn-group" id="onedrive_selector" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="onedrive_selector_personal" autocomplete="off" checked>
                                <label class="btn btn-outline-primary" for="onedrive_selector_personal"><i class="bi bi-person"></i> Personal</label>
                              
                                <input type="radio" class="btn-check" name="btnradio" id="onedrive_selector_sharepoint" autocomplete="off" disabled>
                                <label class="btn btn-outline-primary" for="onedrive_selector_sharepoint"><i class="bi bi-briefcase"></i> SharePoint</label>
                              </div>
                              <div id="onedrive_help" class="form-text text-danger">SharePoint is currently not supported (but soon!)</div>
                        </div>
                        <div class="text-danger" id="allowedCharsErrorMsgOneDriveConn" style="display: none;">
                            Please only use allowed characters: 0-9, A-Z ,a-z ,_ , - and space
                        </div>
                    </div>
                    

                    <!-- Waiting animation -->
                    <div class="text-center" id="waitingAnimationonedriveadd" style="display: none;">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="mt-2" id="waitingAnimationonedriveadd_statustext">Checking for ssh...</p>
                    </div>

                    <!-- SSH Tunnel setup -->
                    <div id="sshTunnelSetupInfo" style="display: none;">
                        <div id="lottieTerminal" class="d-flex justify-content-center align-items-center">
                            <div
                                style="position: relative; height: 100px; width: 100px; overflow: hidden; display: flex; justify-content: center; align-items: center;">
                                <dotlottie-player id="terminal_lottie_player" src="/static/lottie/terminal.json"
                                    background="transparent" speed="1" style="min-width: 300px; min-height: 300px;" loop
                                    autoplay></dotlottie-player>
                            </div>
                        </div>
                        <div class="text-center">
                            <h5>Setup SSH Tunnel</h5>
                        </div>
                        <p>For secure authentication, we need a SSH tunnel from your machine to the server.<br>
                            Please open a terminal and use the following command to route the authentication server
                            securely to you.<br>
                            Once connected, please resume here by clicking "Next".
                        </p>
                        <div class="container mt-5">
                            <div class="terminal-box bg-dark px-3 py-2 rounded">
                                <div class="terminal-command">
                                    <span class="text-white">ssh -L localhost:53682:localhost:53682 ocr@{{ hostname
                                        }}</span>
                                </div>
                            </div>
                            <div class="row justify-content-center mt-3">
                                <div class="col-auto">
                                    <button onclick="copyCommand()" class="btn btn-primary"><i
                                            class="bi bi-clipboard"></i> Copy</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SSH Install -->
                    <div id="sshInstallInfo" style="display: none;">
                        <div id="lottieWarning" class="d-flex justify-content-center align-items-center">
                            <dotlottie-player id="terminal_lottie_player" src="/static/lottie/error.json"
                                background="transparent" speed="1" direction="1" playMode="normal" style="width: 150px; height: 150px;"
                                autoplay></dotlottie-player>
                        </div>
                        <div class="text-center">
                            <h5>Setup SSH</h5>
                        </div>
                        <p>For secure authentication, we need a SSH tunnel from your machine to the server.
                            The following error was received:<br>
                            <strong><span id="sshErrorMsg"></span></strong><br>
                            Please start SSH on the server.
                        </p>
                        <div class="container mt-5">
                            <div class="terminal-box bg-dark px-3 py-2 rounded">
                                <div class="terminal-command">
                                    <span class="text-white">sudo systemctl start ssh</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Error display -->
                    <div id="errormsg_display" style="display: none;">
                        <div id="lottieWarning" class="d-flex justify-content-center align-items-center">
                            <dotlottie-player id="terminal_lottie_player" src="/static/lottie/error.json"
                                background="transparent" speed="1" direction="1" playMode="normal" style="width: 150px; height: 150px;"
                                autoplay></dotlottie-player>
                        </div>
                        <div class="text-center">
                            <h5>Error</h5>
                        </div>
                        <p class="text-center">
                            <span id="error_msg_fromdisplay"></span><br>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id="add_onedrive_button" class="btn btn-primary" onclick="addOneDrive()"
                        disabled>Next</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Path Mapping Adding modal-->
    <div class="modal fade" id="pathmappingmodal" tabindex="-1" aria-labelledby="pathmappingmodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="pathmappingmodal">Add Path Mapping</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3" id="pathmappingmodal_body">
                        <div class=" has-validation">
                            <div class="mb-3" id="local_path_container">
                                <label for="local_path" class="col-form-label fw-bold">Name of SMB share</label>
                                <input type="text" class="form-control" id="local_path" name="local_path"
                                    placeholder="Name">
                                <div id="name_help" class="form-text">This folder will be accessible via SMB and later
                                    synced to the selected OneDrive destination.</div>
                            </div>
                            <div class="text-danger" id="allowedCharsErrorMsgLocalPath" style="display: none;">
                                Please only use allowed characters: 0-9, A-Z ,a-z ,_ , - and space
                            </div>
                        </div>
                        <label for="connection_selector" class="col-form-label fw-bold">Choose a connection</label>
                        <div id="connection_selector_container">
                            <select class="form-select" id="connection_selector_modal" name="connection_selector_modal">
                                <!-- Options will be dynamically added here -->
                            </select>
                        </div>
                        <br>
                        <label for="remote_path" class="col-form-label fw-bold">OneDrive path</label>
                        <div id="remote_path_container" class="input-group">
                            <a href="#remotepathselector" data-bs-toggle="collapse" role="button" aria-expanded="false"
                                aria-controls="remotepathselector"><span class="input-group-text"><i
                                        class="bi bi-folder"></i></span></a>
                            <input type="text" class="form-control" id="remote_path" name="remote_path"
                                placeholder="Please select a path." disabled>
                        </div>
                        <br>
                        <div class="collapse" id="remotepathselector">
                            <div class="card card-body">
                                <!-- Waiting animation -->
                                <div class="text-center" id="waitingAnimationPathMapping">
                                    <div class="spinner-border" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                    <p class="mt-2">Loading directories...</p>
                                </div>
                                <!-- Back button wrapped in a div with a specific width -->
                                <div style="width: 100px; display:none;" id="remoteonedrivebackbutton">
                                    <button class="btn btn-secondary" onclick="loadOneDriveDir(true)">
                                        <i class="bi bi-arrow-90deg-up"></i> Back
                                    </button>
                                </div>
                                <br>
                                <div class="list-group" id="onedrivelistgroup">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Waiting animation when form is sent -->
                    <div class="text-center" id="waitingAnimationPathMappingSent" style="display: none;">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="mt-2">Creating mapping...</p>
                    </div>
                    <div class="text-center" id="finalPathMappingStatus" style="display: none;">
                        <i class="bi bi-check-circle-fill text-success" style="font-size: 2rem;"
                            id="finalPathMappingStatusSuccess"></i>
                        <i class="bi bi-exclamation-circle-fill text-danger" style="font-size: 2rem;"
                            id="finalPathMappingStatusError"></i>
                        <p id="finalPathMappingStatusText"></p>
                    </div>
                </div>
                <div class="modal-footer" id="pathmappingmodal_footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" id="add_path_mapping_button" class="btn btn-primary"
                        onclick="addPathMapping()" disabled>Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/sync.js"></script>
{% endblock %}